script(src="/javascripts/fileUpload.js")
div(class="profile-container bg-white mr-3 d-flex flex-column")
    form(id="formContainer" class="d-flex p-3 flex-row justify-content-center align-items-center" action="/crikcroks/upload/images" method="post" enctype="multipart/form-data" )
        input(type="file" name="recettes" class="d-none" id="recettes")
        img(src="/images/images.svg" class="img-fluid" id="recettes")
