script(src="/javascripts/fileUpload.js")
div(class="profile-container bg-white mr-3 d-flex flex-column")
    form(id="formContainer" class="d-flex p-3 flex-row justify-content-center align-items-center" action="/users/update/image" method="post" enctype="multipart/form-data" )
        input(type="file" name="recette" class="d-none" id="input_recette")
        img(src="/images/images.svg" class="img-fluid" id="image_recette")
