.content{
  max-width: 1000px;
  margin-top: 20px;
}
.profile-container{
  width: 30%;
  max-width: 300px;
}
body{
  background-color: #f1efefe3!important;
}
.btn-crikcrok{
  border-radius: 30px;
}
.crikcrok-element{
  margin-top: 10px;
  border-radius: 0px;
  font-size: 14px;
}

.b{
  width: 30%;
  max-width: 300px;

}
.b1{
  border: 1px solid green;
}
.b2{
  border: 1px solid blue;
}