if crikcroks
    each crikcrok in crikcroks
        div(class="card crikcrok-element")
            div(class="card-body")
                div(class="card-text")=crikcrok.content
                    //img.image(src='/' + img_path_var )
                    if isAuthenticated
                        button(class='btn-danger mt-2 float-right' crikcrokid=crikcrok._id) delete
                    else
                    